<main class="wrapper">
    <div class="section-authentication-signin d-flex align-items-center justify-content-center my-5 my-lg-0">
        <span class="mask bg-gradient-dark opacity-6"></span>
        <div class="container-fluid">
            <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
                <div class="col mx-auto">
                    <div class="card border-top border-0 border-4 border-white">
                        <div class="card-body p-5">
                            <div class="card-title text-center">
                                <i class="bx bxs-user-circle text-white font-50"></i>
                                <h5 class="mb-5 mt-2 text-white">User Login</h5>
                            </div>
                            <hr>
                            <form
                                class="row g-3"
                                [formGroup]="myForm"
                                (ngSubmit)="submitForm()"
                            >
                                <div class="col-12">
                                    <div class="input-group input-group-lg">
                                        <span class="input-group-text">
                                            <i class='bx bxs-user'></i>
                                        </span>
                                        <input
                                            type="text"
                                            class="form-control border-start-0"
                                            formControlName="user"
                                            maxlength="50"
                                            placeholder="Username"
                                        >
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group input-group-lg">
                                        <span class="input-group-text">
                                            <i class='bx bxs-lock-open'></i>
                                        </span>
                                        <input
                                            type="text"
                                            class="form-control border-start-0"
                                            formControlName="pass"
                                            type="password"
                                            placeholder="Password"
                                        >
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="text-center">
                                        <p>
                                            Don't have an account yet?
                                            <a (click)="goToRegister()">Sign up here</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="d-grid">
                                        <button
                                            type="submit"
                                            class="btn btn-light btn-lg px-5"
                                        >
                                            <i class='bx bxs-lock-open'></i>
                                            Login
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
